@model TestTaskPrasBLL.DTOs.CreatePostDTO
@using Microsoft.Extensions.Localization;
@using System.Globalization;
@using TestTaskPras.Resources;
@inject IStringLocalizer<SharedResourse> localizer;

@{
    ViewData["Title"] = "Create";
}
<h1>@localizer["Create"].Value</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">@localizer["Title"].Value</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label">@localizer["Subtitle"].Value</label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">@localizer["Text"].Value</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">@localizer["Image"].Value</label>
                <input type="file" name="imagePath" accept=".jpg, .png" onchange="previewImage(event)" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
                <img id="imagePreview" src="#" alt="Preview" style="max-width: 300px; display: none;" />
            </div>
            <div class="form-group">
                <input type="submit" value=@localizer["Create"].Value class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <a href="javascript:history.back()">@localizer["Back"].Value</a>
</div>
<script>
    function previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                var imagePreview = document.getElementById("imagePreview");
                imagePreview.src = e.target.result;
                imagePreview.style.display = "block";
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
